.login_content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 240px 40px 700px;
  background: #ffffff;

  .input_view {
    position: relative;
    z-index: 2;
  }

  .button {
    margin-top: 50px;
  }
}
